%btn {
	display: inline-block;
	color: $black;
	border: none;
	padding: 15px 40px;
	cursor: pointer;
	font-size: 1.6rem;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	width: auto;
}

.btn-header {
	@extend %btn;
	padding: 0;
	text-transform: uppercase;
	&::before {
		content: '';
		display: flex;
		position: absolute;
		border-bottom: 3px solid $red-light;
		bottom: -10px;
		width: 0;
		transition: 0.5s;
	}
	&:hover {
		&::before {
			width: 70%;
		}
	}
}

.btn-forum {
	@extend %btn;
	padding: 0;
	width: 235px;
	line-height: 63px;
	background-color: $red-light;
	color: $white;
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
	margin: 0 auto;
	.write {
		display: block;
		text-align: center;
		margin: 0;
	}
}

.btn-forum-write {
	@extend %btn;
	padding: 0;
	width: 235px;
	line-height: 63px;
	background-color: $red-light;
	color: $white;
	font-size: 1.8rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	.write {
		display: block;
		text-align: center;
		margin: 0;
	}
}

.btn-call-me {
	@extend .btn-forum;
	
}