.hamburger-menu {
  position: relative;
  right: 0;
  display: none;
}

#menu__toggle {
    opacity: 0;
  }

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 65%;
} 
@media screen and (max-width: 650px){
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    width: 100%;
  }
  .menu__box_bg {
    visibility: hidden;
  }
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: $z-2;
}

@media screen and (max-width: 650px) {
  .menu__btn {
    right: 0;
  }
  .menu__box {
    justify-content: center;
    padding: 0;
  }
  .menu__item {
    justify-content: center;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3.5px;
  background-color: $red-light;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: $gray-light; 
  z-index: $z-1;
}
.menu__box_bg {
  display: block;
  position: fixed;
  width: 65%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $z-0;
}

.menu__item {
  display: flex;
  padding: 12px 24px;
  text-transform: uppercase;
  z-index: $z-1;
  color: $gray;
  font-size: 2rem;
  font-weight: 600;
}
.menu__item:hover {
  background-color: $red-light;
  color: $white;
}