.modal {
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: $z-2;
}
// .form {
//     display: block !important;
// }
.close-button {
    position: absolute;
    width: 20px;
    height: 30px;
    cursor: pointer;
    top: 50px;
    right: 50px;
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        left: 2.5px;
        top: 50%;
        border-top: 3px solid $gray;
        transform: rotate(45deg);
    }
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        left: 2.5px;
        top: 50%;
        border-top: 3px solid $gray;
        transform: rotate(135deg);
    }
}


@media screen and (max-width: 650px) {
    .modal-content {
        left: 0;
        top: 0;
    }
}
@media screen and (max-width: 1650px) {
    .modal-content {
        left: 30%;
    }
}
@media screen and (max-width: 1100px) {
    .modal-content {
        left: 25%;
    }
}

@media screen and (max-width: 880px) {
    .modal-content {
        left: 15%;
    }
}
@media screen and (max-width: 750px) {
    .modal-content {
        left: 7%;
    }
}


.modal-content {
    top: 10%;
    left: 35%;
    // left: 25%;
    // transform: translate(-50%, -50%);
    background-color: $white;
    padding: 70px;
    // width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-end;    
    // transform: translateY(70px);

    &.call {
        width: 35vw;
        top: 25%;
        left: 40%;
    }
    .has-error {
        .inp {
            border-bottom: 1px solid rgba(230, 44, 14, 1);
            &::placeholder {
                color: $red-light;
                opacity: 1;
            }
        }
        .ta {
            
            border-bottom: 1px solid rgba(230, 44, 14, 1);
            &::placeholder {
                color: $red-light;
                opacity: 1;
            }
        }
    }

    .inp {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
        margin-bottom: 40px;
        padding-bottom: 6px;
        &::placeholder {
            color: $gray;
            opacity: 0.5;
        }

    }
    .ta {
        width: 100%;
        // height: 10vh;
        border: none;
        resize: none;
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
        margin-bottom: 40px;
        &::placeholder {
            color: $gray;
            opacity: 0.5;
        }
    }
    .bt {
        display: flex;
        justify-content: center;
        width: 100%;
        line-height: 63px;
        border: none;
        background-color: $red-light;
        color: $white;
        font-size: 2rem;
        font-weight: 600;
    }
    .review {
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 40px;
        color: $red-light;
    }
    .data {
        display: grid;
        grid-template-columns: 0.1fr .7fr;
        margin-bottom: 60px;
        height: auto;
        p {
            position: relative;
            font-size: 2.2rem;
            color: rgba(112, 112, 112, 0.5);
            margin: auto 0;
            margin-right: 20px;
        }
    }
    .form-group {
        display: flex;
        p {
            font-size: 2.2rem;
            color: rgba(112, 112, 112, 0.5);
            margin-right: 20px;
        }
        .ec-rating {
            bottom: -30px;
            position: relative;
        }
        .fill {
            margin-right: 11px;
        }
        .prod {
            margin-left: 11px;
            margin-right: 0;
        }

}
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    .error_name {
        span {
            display: none;
        }
}
}



// .jGrowl.top-right {
//     top:50% !important;
//     width:30% !important; 
//     left:50% !important; 
// }
#jGrowl {
    font-size:18px;
}
.jGrowl.top-right {
    top:50% !important;
    width: 100% !important ;
    display: flex !important;
    justify-content: center !important;
}


#jGrowl .jGrowl-notification {
    position: relative;
    width: 320px;
    padding: 15px;
    text-align:center;
    background: none repeat 0 0 #fff !important;
    box-shadow: 0 0 0 7px $red-light !important;
    border: 0px solid rgba(255, 255, 255, 0.49) !important;
}
#jGrowl .jGrowl-notification .jGrowl-close {
    position: absolute;
    right: 4px;
    top: 4px;
    color: $gray !important;
}
#jGrowl .jGrowl-notification .jGrowl-message {
    color:$red-light !important;
}