footer {
    margin: 65px 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contacts {
            line-height: 1.6;
            font-style: normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
}