header {
    .top-header{
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        margin: 60px 0 0;
        padding: 0 30px;
        .logo {
            width: 534px;
            height: 95px;
            margin-right: 240px;
        }
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }    
}