.section-shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:65px;
    .content {
        display: grid;
        grid-template-rows: 1fr 0.6fr;
        margin: 30px 0;
        background-color: $gray-light;
        .text {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            span {
                height: 61px;
                font-size: 2.2rem;
                font-weight: 600;
                margin-top: 40px;
                line-height: 61px;
                text-align: center;
            }
        }
        .image {
            width: 100%;
            height: 418px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 18px auto 40px;
        }
        h2 {
            margin-bottom: 16px;
            font-size: 2.2rem;
        }
        p {
            margin: 0;
        }
    }
}