.section-forum {
    .grid {
        margin-top: 145px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 125px;
        .content {
            .st {
                display: inline-flex;
                .data {
                    display: inline-flex;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: $gray;
                }
                .star {
                    .ec-rating {
                        background-image: url('/assets/images/popup/star.png')
                    }
                    .ec-rating-stars span,
                    .ec-stars,
                    .ec-stars span {
                        background-image: url('/assets/images/popup/star.png');
                    }
                    .ec-rating-stars span.active {
                        background-position: 0 0;
                        background-image: url('/assets/images/popup/star_fill.png');
                    }
                    .ec-rating-stars span.active2 {
                        background-position: 0 0;
                        background-image: url('/assets/images/popup/star_fill.png');
                    }
                }
            }
        }
        .title {
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 35px;
        }
        .info {
            font-size: 1.4rem;
            font-weight: 600;
            color: $gray;
        }
        .text {
            margin: 35px 0 0;
        }
        .caption {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.8rem;
            margin: 35px 0 0;
        }
    }
    .btn-forum {
        display: block;
        margin: 0 auto;
        margin-top: 90px;
    }

    .rating {
        display: none;
    }

    .pagination {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        .page-item {
            width: 50px;
            text-align: center;
            border-radius: 20%;
            padding: 5px 0;
            &.active {
                background-color: $red-light;
                .page-link {
                    color: $white;
                }
            }
            .page-link {
                color: $red-light;
                font-size: 2.2rem;
                font-weight: 500;
                margin: 0 auto;
                text-align: center;
            }
        }
        .first, .last {
            width: 150px;
            font-weight: 500;
            color: $red-light;
        }
    }
    .ec-stars{
        position: relative;
        background-position: 0 -16px;
        background-repeat: repeat-x;
        margin: 5px 0 0 40px;
        width: 96px;
        height: 16px;
        bottom: -10px;
        background-image: url('/assets/images/popup/star_fill.png');
        background-repeat: no-repeat;
        span {
            background-image: url('/assets/images/popup/star_fill.png');
            background-repeat: no-repeat;
        }
        span.rating-0{width: 0;}
        span.rating-1{width: 16px;}
        span.rating-2{width: 36px;}
        span.rating-3{width: 56px;}
        span.rating-4{width: 76px;}
        span.rating-5{width: 96px;}
    }
    .ec-stars span {
        background-position: 0 0;
        background-repeat: repeat-x;
        display: block;
        height: 16px;
        width: 0;
    }

}