.section-video-forum {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 140px;
    margin-top: 80px;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 440px;
    }
    .video {
        width: 100%;
        height: 545px;
    }
}