.section-about {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    
    .contacts {
        display: none;
        .contact {
            line-height: 1.6;
            font-style: normal;
            display: flex;
            justify-content: center;
            flex-direction: column;
            a {
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .error_name {
            span {
                display: none;
            }
            .form .ss {
                border-bottom: 1px solid $red-light;
            }
        }
        input {
            width: 350px;
            border: none;
            border-bottom: 1px solid rgba(112, 112, 112, 0.5);
            margin-bottom: 60px;
            padding-bottom: 6px;
            &::placeholder {
                color: $gray;
                opacity: 0.5;
            }
            
        }
        button {
            width: 100%;
            line-height: 63px;
            border: none;
            background-color: $red-light;
            color: $white;
            font-size: 2rem;
            font-weight: 600;
        }
        label {
            font-size:1.2rem;
            color:$gray;
            margin-bottom: 5px;
            align-items: flex-start;
        }
    }
    .content {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        width: 850px;
    }
}