.section-content {
    display: grid;
    grid-template-columns: 0.65fr 0.4fr;
    grid-gap: 180px;
    align-items: center;
    padding-left: 120px;
    margin: 100px 0 120px;
    p {
        margin: 0;
    }
    .phone {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
}