.section-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 120px;
    margin-left: 130px;
    grid-gap: 170px;
    .form {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-end;
        width: 370px;
        .error_name {
            span {
                display: none;
            }
        }
        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(112, 112, 112, 0.5);
            margin-bottom: 60px;
            padding-bottom: 6px;
            &::placeholder {
                color: $gray;
                opacity: 0.5;
            }
        }
        button {
            width: 100%;
            line-height: 63px;
            border: none;
            background-color: $red-light;
            color: $white;
            font-size: 2rem;
            font-weight: 600;
        }
        textarea {
            width: 100%;
            border: none;
            resize: none;
            border-bottom: 1px solid rgba(112, 112, 112, 0.5);
            margin-bottom: 60px;
            padding-bottom: 6px;
            &::placeholder {
                color: $gray;
                opacity: 0.5;
            }
        }
        .call {
            margin-top: 85px;
        }
        p {
            color: $red-light;
            font-size: 2.2rem;  
            font-weight: 600;
        }
    } 
}

@media screen and (max-width: 1130px) {
    .section-form {
        margin-left: 0;
    }
}