.section-info {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 165px;
    margin-left: 130px;
    margin-top: 110px;
    p {
        width: 91%;
        margin: 0;
    }
    .contacts {
        line-height: 1.6;
        font-style: normal;
        display: flex;
        flex-direction: column;
        a {
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 1280px){
    .section-info, .section-form, .section-map{
        margin-left: 50px;
    }

}

@media screen and (max-width: 1080px){
    .section-info, .section-form, .section-map{
        margin-left: 20px;
        grid-gap: 50px;
    }
    .section-form {
        margin-top: 40px;
        .form {
            align-items: flex-start;
            width: 100%;
            input {
                margin-bottom: 30px;
            }
            button {
                font-size: 1.6rem;
                line-height: 45px;
            }
            .call {
                margin-top: 55px;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }
    .section-map {
        p {
            margin: 30px 0 30px 0;
        }
    }
}

@media screen and (max-width: 880px){

    .section-form {
        .form {
            textarea {
                margin-bottom: 30px;
            }
        }
    }


    .section-info, .section-form{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
    }
    .section-info {
        margin: 40px 0 10px 0;
        grid-gap: 20px;
        p {
            width: 100%;
        }
        .contacts {
            width: 85%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            a {
                padding: 0 10px;
            }
        }
    }
    .section-form {
        margin: 40px 0 0;
        .form {
            width: 100%;
            input {
                margin-bottom: 30px;
            }
            button {
                font-size: 1.6rem;
                line-height: 45px;
            }
            .call {
                margin-top: 55px;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }
        .section-map {
            margin-left: 0;
        }
}

@media screen and (max-width: 650px){
    .section-info {
        .contacts {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            a {
                padding: 0 10px;
            }
        }
    }

    .section-about {
        .form {
            .ss {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 470px){ 
    .section-info {
        grid-template-rows: 1fr;
        .contact {
            display: none;
        }
    }

}
