.section-production-info {
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    grid-gap: 80px;
    margin: 80px 100px;
    .photo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        img {
            padding: 10px 20px;
            padding-left: 0;
            height: 340px;
        }
    }
    .content {
        .title {
            font-size: 2rem;
            font-weight: 500;
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 750px) {
    .section-production {
        .content {
            .text-price {
                flex-direction: column-reverse;
                align-items: center;
                .price {
                    margin: 0 0 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .section-production-info {
        margin: 30px 0;
        .photo {
            flex-wrap: nowrap;
            flex-direction: column;
                img {
                    padding-right: 0;
                    width: 100%;
                    height: auto;
                }
        }
    }
}

@media screen and (max-width: 450px){
    .section-production-info {
        margin: 0;
        grid-gap: 15px;
        .photo {
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
    .section-forum {
        .grid {
            margin: 0;
        }
    }
}