.section-video {
    .content {
        .production {
            grid-template-rows: 1fr;
            grid-gap: 100px;
            margin: 80px 80px 70px;;
        }
    }
}

@media screen and (max-width: 1080px) {
    .section-video {
        .content {
            .production {                
                grid-template-rows: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: 450px){
    .section-video {
        .video {
            &.production {              
            grid-template-rows: 1fr;
                .second{
                    display: none;
                }
            }
        }
    }
}
