.section-production {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    margin: 60px 100px 0 100px;
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray-light;
        img {
            height: 580px;
        }
    }
    .content {
        h2 {
            font-size: 3rem;
            margin: 0;
        }
        .area {
            margin-top: 0;
            font-size: 1.7rem;
            color: $black;
        }
        p {
            font-size: 1.4rem;
            color: $gray;
            width: 70%;
            span {
                font-weight: 600;
                color: $gray;
            }
        }
        .action {
            color: $black;
            font-size: 2rem;
            font-weight: 500;
            width: 100%;
            margin: 30px 0;
        }
    }
    .text-price {
        display: flex;
        .price {
            display: block;
            width: 215px;
            line-height: 61px;
            text-align: center;
            font-size: 3rem;
            font-weight: 600;
            margin-left: 40px;
        }
        .btn-call-me{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 340px;
        }
    }
}

@media screen and (max-width: 1650px) {
    .section-production {
        margin: 60px 0;
    }
}
@media screen and (max-width: 1280px){
    .section-production {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,0.1fr);
        margin: 30px 30px;
        .image {
            width: auto;
            height: 100%;
        }
        .btn-call-me {
            padding: 0 30px;;
        }
    }
}

@media screen and (max-width: 650px) {
    .section-production { 
        width: 100%;
        margin: 0;
        .image {
            img {
                width: 100%;
                height: auto;
            }
        }
        .content {
            width: 100%;
            p {
                width: 100%;
            }
            .text-price {
                .btn-call-me {
                    margin: auto 0;
                    width: 100%;
                }
            }
        }
    }
}