.section-btn {
    .btn {
        .btn-header {
            .production {
                font-size: 2rem;
                .active {
                    &::before {
                        width: 70%;
                    }
                }
            }
        }
    }
    .rating .top{
            .write{
                    margin: 0;
                }
            }
}
