// Font
$font-main: 'Montserrat', sans-serif;
$font-title: 'Montserrat', sans-serif;

// Z-indexes
// Max z-index = 100
$z-0: 0;
$z-1: 25;
$z-2: 50;
$z-3: 75;
$z-4: 100;
$z-5: 125;

// Colors
$black: #000;
$white: #fff;
$red: #DD3333;
$red-light: #E62C0E;
$gray: #707070;
$gray-light: #F8F8F8;

// Shadow
$shadow: 0 4px 10px 4px rgba(51, 51, 3, .07);
