.section-video {
    .content {
        .video {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 110px 130px;
            margin: 110px 90px;
            .video-item {
                height: 35vh;
                width: 100%;
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            width: 100%;
            .btn-forum {
                width: 235px;
            }
        }
    }
}

@media screen and (max-width: 1650px) {
    .section-video {
        .content {
            .video {
                grid-gap: 80px 100px;
                .video-item {
                    height: 25vh;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .section-video {
        .content {
            .btn {
                .btn-forum {
                    width: 180px;
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .section-video {
        .content {
            .video {
                margin: 50px 30px;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(8, 1fr);
                grid-gap: 50px;
                .video-item {
                    height: 30vh;
                }
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .section-video {
        .content {
            .video {
                margin: 50px 0;
                grid-gap: 50px 70px;
                .video-item {
                    height: 250px;
                }
            }

        .btn{
            .btn-forum {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}
.section-forum {
    .btn-forum {
        width: 100%;
    }
}
}