.section-delivery {
    margin: 100px 0 120px;
    padding: 0 30px;
    .content {
        display: grid;
        grid-template-rows: 0.1fr 0.1fr;
        grid-gap: 50px;
        .top {
            display: grid;
            grid-gap: 200px;
            grid-template-columns: 0.8fr 0.8fr;
        .text-content {
            h2 {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 2.2rem;
                margin-bottom: 40px;
            }
        }
    }
        .company-content {
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 220px;
                height: 48px;
                margin: 0 75px 0 0;
                cursor: default;
                &:nth-child(2) {
                    width: 111px;
                }
            }
        }
    }
}