<footer>
	<address class="contacts">
		<a href="tel:+380979401394">+38 097 94 013 94</a>
		<a href="tel:+380500257727">+38 050 025 77 27</a>
		<a href="mailto:office@vomer.org.ua">office@vomer.org.ua</a>
	</address>
	<p class="info">
		Вомер. Всі права застережено!
	</p>
</footer>
