<header>
	<div class="cont">
		<div class="top-header">
			<a class="logo" href="/" style="background-image: url(/assets/images/logo.png)"></a>
			<nav class="nav">
				<a href="/vomer-200.html" class="btn-header">
					продукція
				</a>
				<a href="/reviews.html" class="btn-header">
					відгуки
				</a>
				<a href="/video.html" class="btn-header">
					відео
				</a>
				<a href="/delivery.html" class="btn-header">
					доставка
				</a>
				<a href="/contacts.html" class="btn-header">
					контакти
				</a>
			</nav>
			<div class="hamburger-menu">
				<input id="menu__toggle" type="checkbox">
				<label class="menu__btn" for="menu__toggle">
				  <span></span>
				</label>
			
				<ul class="menu__box">
					<span class="menu__box_bg"></span>
					<li><a class="menu__item" href="/vomer-200.html">Продукція</a></li>
					<li><a class="menu__item" href="/reviews.html">Відгуки</a></li>
					<li><a class="menu__item" href="/video.html">Відео</a></li>
					<li><a class="menu__item" href="/delivery.html">Доставка</a></li>
					<li><a class="menu__item" href="/contacts.html">Контакти</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</header>
