.section-btn {
    .succes {
        margin: 20px 0;
    }
    margin-top: 70px;
    .btn {
        display: flex;
        flex-wrap: wrap;
        width: 55%;
        justify-content: space-between;
        .reviews {
            font-size: 2.2rem;
            font-weight: 400;
        }
        .production {
            font-size: 2rem;
            font-weight: 400;
            }
        .active {
            &::before {
                content: "";
                width: 70%;
            }
        }
    }
    .rating {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        width: 30%;
        .btn-forum {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p {
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 1650px) {
    .section-btn {
        .btn {
            width: 80%;
        }
        .rating {
            width: 40%;
        }
    }
}
@media screen and (max-width: 1450px) {
    .section-btn {
        .btn {
            .reviews {
                font-size: 1.8rem;
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    .section-btn {
        margin: 30px 0;
        .btn {
            .reviews {
                font-size: 1.8rem;
                margin-bottom: 15px;
            }
        }
        .rating {
            width: 40%;
            justify-content: space-between;
            .btn-forum {
                width: 200px;
                line-height: 50px;
                font-size: 1.3rem;
            }

        }
    }
}

@media screen and (max-width: 1080px) {
    .section-btn {
        .rating{
                width: 60%;
            .write {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .section-btn {
        .rating {
            width: 70%;
        }
        .btn {
            width: 100%;
        }
            .reviews {
                margin: 10px 15px 0 10px;
            }
    }
}

@media screen and (max-width: 650px){
    .section-btn {
        margin-top: 30px;
        .btn {
            width: 100%;
            flex-direction: column;
            align-items: center;
            .production {
                margin-bottom: 20px;
            }
            .reviews {
                font-size: 1.8rem;
                margin-bottom: 15px;
            }
        }
        .top {
            display: none;
        }
    }
}