@import "_base";
@import "_grid";
@import "_components";
@import "_modules";
@import "_pages";

@media screen and (max-width: 1650px){
    *{
        box-sizing: border-box;
        p {
            font-size: 1.4rem;
        }
    }
    
    .cont {
        width: 1200px;
    }
    header {
        .top-header{
            grid-gap: 80px;
            .logo {
                margin: 0;
            }
            .hamburger-menu {
                display: none;
            }
        }
        
        .btn-header {
            font-size: 1.6rem;
        }
    }

    .section-about {
        .content {
            width: 650px;
        }
    }
    .section-video-forum {
        .video {
            height: 345px;
        }
    }

}

@media screen and (max-width: 1280px){    
    .cont {
        width: 1000px;
    }
    header {
        .top-header{
            .logo {
                width: 300px;
                height: 85px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
            }
        }
    }

    .section-delivery {
        margin: 50px 0 120px;
        .content {
            .top {
                grid-gap: 100px;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .btn-forum {
        line-height: 50px;
        font-size: 1.8rem;
        width: 180px;
    }

    .section-shop {
        grid-gap: 35px;
    }
    .section-about {
        .content {
            width: 450px;
        }
    }
    .section-video-forum {
        .video {
            height: 300px;
        }
    }
    .section-forum {
        .grid{
            grid-gap: 50px;
        }
    }
    .section-content {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1100px){    
    .cont {
        width: 800px;
    }
    header {
        .top-header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            .logo {
                margin: auto 0;
                width: 220px;
                height: 55px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .nav {
                width: 60%;
                justify-content: space-between;
                align-items: center;
            }
        }
        .btn-header {
            font-size: 1.2rem;
            &::before {
                border-bottom: 1.5px solid $red-light;
                bottom: -5px;
            }
        }
    }
    .section-delivery {
        margin: 0 0 120px;
    }

    .btn-forum {
        line-height: 40px;
        font-size: 1.4rem;
    }
    .section-shop {
        grid-gap: 15px;
        .content {
            margin: 0;
            .text {
                span {
                    height: 40px;
                    line-height: 40px;
                }
                h2 {
                    font-size: 1.6rem;
                }
                .price {
                    font-size: 1.6rem;
                    
                }
                a {
                    margin-bottom: 30px;
                }
            }
            .image {
                margin: 0 auto;
                width: 80%;
                height: 250px;
                background-size: contain;

            }
        }
    }
    .section-video-forum {
        margin-top: 40px;
        grid-gap: 15px;
        .video {
            height: 250px;
        }
    }
    .section-about {
        margin-top: 70px;
        .form {
            input {
                width: 250px;
                margin-bottom: 15px;
                padding-bottom: 15px;
                font-size: 1.3rem;
            }
            button {
                width: 100%;
                font-size: 1.3rem;
                line-height: 43px;
            }
        }
        .content {
            width: 500px;
        }
    }
    .section-forum {
        .grid{
            margin-top: 72px;
        }
        .btn-forum {
            margin-top: 45px;
            font-size: 1.3rem;
            width: 200px;
            line-height: 50px;
        }
    }
    .section-content {
        padding-left: 60px;
        margin-bottom: 60px;
        grid-gap: 90px;
    }
}

@media screen and (max-width: 880px){    
    .cont {
        width: 650px;
    }
    header {
        .top-header{
            padding: 20px 10px 0 0;
            margin: 0;
            .nav {
                display: none;
            }
            .hamburger-menu {
                display: -webkit-box;
                top: 17px;
            }
        }
        .btn-header {
            display: none;
            &::before {
                border-bottom: 1.5px solid $red-light;
                bottom: -5px;
            }
        }
    }

    .section-delivery {
        .content {
            grid-template-rows: repeat(2, 0.7fr);
            .top{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 0.1fr);
                grid-gap: 50px;
            }
        .company-content {
            .image {
                margin-bottom: 50px;
            }
        }
    }
    }

    .section-video-forum {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr, 1fr;
        .left {
            justify-content: flex-start;
            width: 100%;
            height: auto;
        }
    }
    .section-about {
        display: inline-flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        .form {
            margin-top: 15px;
            input {
                width: 100%;
            }
        }
        .content {
            width: 100%;
        }
    }
    .section-forum {
        .grid{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 100px;
            grid-gap: 50px;
            .text {
                margin-bottom: 20px;
            }
            .caption {
                margin: 0;
            }
        }
    }
    .section-content {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0;
        margin: 60px 0;
        grid-gap: 70px;
    }
    .section-delivery {
        margin: 50px 0 75px;
        padding: 0;
        .content {
            .top {
                .text-content {
                    h2 {
                        margin-bottom: 20px;
                        font-size: 1.8rem;
                    }
                }
            }
            .company-content {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;
                .image {
                    margin: 0 0 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px){
    .cont {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 650px){
    .section-shop {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        .content {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
            background-color: $white;
            .text {
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                .price {
                    margin: 10px 0 15px 0;
                }
                .btn-forum {
                    margin: 0;
                }
                .btn-call-me {
                    width: 100%
                }
            }
        }
    }

    .section-content {
        display: none;
    }
    .modal {
        .modal-content {
            width: 100%;
            padding: 25px;
        }
    }
    .section-forum {
        .rating {
            display: block;
        }
    }
}

@media screen and (max-width: 360px){
    header {
        .top-header{
            .logo {
                width: 150px;
                height: 55px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    footer {
        margin: 65px 0 30px;
    }
    .section-about {
        margin: 50px 0;
        .contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            a {
                margin: 10px 0;
            }
        }
        .content {
            grid-template-rows: 1fr;
            .text_1 {
                display: none;
            }
        }
    }
    .section-shop {
        .content {
            display: flex;
            .text {
                h2 {
                    margin: 50px 0 0;
                }
                p {
                    font-size: 1.2rem;
                }
                .price {
                    display: flex;
                    justify-content: center;
                    margin: 10px 0 15px 0;
                }
            }
        }
    }
    .section-video-forum {
        display: none;
    }
    .section-forum {
        .grid {
            grid-template-rows: 1fr;
            .second {
                display: none;
            }
            }
    }
    // .section-info {
    //     grid-template-rows: 1fr 0.5fr;
    //     .contacts {
    //         a {
    //             padding: 0;
    //         }
    //     }
    // }
}